<div class="headers" id="aboutContainer">
    <div class="aboutHeader">
        <h1>About Me</h1>
    </div>
    <div class="aboutContent">
        <div class="aboutImg">
            <img src="~/Design/Images/mypic.jpg" />
        </div>
        <div class="aboutTxt">
            <p>Hi! I''m Charles, a graduate of Bachelor of Science in Computer Engineering in Polytechnic University of the Philippines.</p>
            <p>I'm always curious about things. I like reading and watching series and movies.</p>
            <p>My goal in life as of now is to learn more knowledge and skills as a Software Developer.</p>
        </div>
    </div>
    
</div>
