<div class="headers" id="contactContainer">
    <div class="contactHeader">
        <h1>Contact Me</h1>
    </div>
    <div class="contact">
        <div class="card">
            <i class="fa fa-phone-square fa-5x" aria-hidden="true"></i>
            <h3>Phone Number</h3>
            <h4>09954610386</h4>
        </div>
        <div class="card">
            <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
            <h3>Email</h3>
            <h4>vpcharles31@gmail.com</h4>
        </div>
        <div class="card">
            <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
            <h3>LinkedIn</h3>
            <h4>Prince Charles Velarde</h4>
        </div>
        <div class="card">
            <i class="fa fa-github-square fa-5x" aria-hidden="true"></i>
            <h3>Github</h3>
            <h4>Cha-er-si</h4>
        </div>
    </div>
</div>