<div class="headers" id="workContainer">
    <div class="workHeader">
        <h1>Work Experience</h1>
    </div>
    <div class="work">
        <div class="card">
            <img id="bastionImg" src="~/Design/Images/Bastion1.jpg" />
            <h4>Bastion Inc.</h4>
            <h5>Junior Software Developer</h5>
            <h6>Current</h6>
        </div>
        <div class="card">
            <img src="https://www.pup.edu.ph/about/images/PUPLogo.png" />
            <h4>Polytechnic University of the Philippines - Sta. Mesa Manila</h4>
            <h5>LMS Handler</h5>
            <h6>November 2021</h6>
        </div>
        
        <div class="card">
            <img id="dacpaImg" src="~/Design/Images/dacpa1.png" />
            <h4>Dolorfino and Associates CPAs</h4>
            <h5>Odoo Web Developer</h5>
            <h6>August 2021 - September 2021</h6>
        </div>
    </div>
</div>

