<div class="headers" id="workContainer">
    <div class="workHeader">
        <h1>Work Experience</h1>
    </div>
    <div class="work">
        <div class="workCards">
            <div class="workImgs">
                <img id="" src="~/Design/Images/Bastion1.jpg" />
            </div>
            <div class="workTxts">
                <h4>Junior Software Developer</h4>
                <h5>Bastion Inc.</h5>
                <h6>Current</h6>
            </div>
        </div>

        <div class="workCards">
            <div class="workImgs">
                <img src="https://www.pup.edu.ph/about/images/PUPLogo.png" />
            </div>
            <div class="workTxts">
                <h4>LMS Handler</h4>
                <h5>Polytechnic University of the Philippines - Sta. Mesa Manila</h5>
                <h6>November 2021</h6>
            </div>
        </div>
        
        <div class="workCards">
            <div class="workImgs">
                <img id="dacpaImg" src="~/Design/Images/dacpa1.png" />
            </div>
            <div class="workTxts">
                <h4>Odoo Web Developer</h4>
                <h5>Dolorfino and Associates CPAs</h5>
                <h6>August 2021 - September 2021</h6>
            </div>
        </div>
    </div>
</div>

